<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Perl6Citations</title>
	<style>
		h1, h2 {
			text-align: center;
		}
	</style>
</head>
<body>
	<H1>Perl6 Ecosystem Module Citation Index</H1>
	<table>
		<tr><td>Data Gathered on</td><td><TMPL_VAR DATE></td></tr>
		<tr><td>Citation Index </td><td>= # times cited by any module / # cited modules x 100</td></tr>
		<tr><td>Number of Topline Modules in Ecosystem </td><td>= <TMPL_VAR N_MOD></td></tr>
		<tr><td>Number of Modules Cited</td><td>= <TMPL_VAR N_CIT></td></tr>
		<tr><td>Cited / Number of Ecosystem Modules</td><td>= <TMPL_VAR PC_CIT></tr></td>
	</table>
	<P>
	<table>
		<thead>
			<tr>
				<th></th>
				<th colspan="4">In simple order</th>
				<th></th>
				<th colspan="4">In recursive order</th>
			</tr>
				<th></th>
				<th colspan="2">Simple</th>
				<th colspan="2">Recursive</th>
				<th></th>
				<th colspan="2">Simple</th>
				<th colspan="2">Recursive</th>
			</tr>
			<tr>
				<th>Module Name</th>
				<th>Order</th>
				<th>Index</td>
				<th>Order</th>
				<th>Index</td>
				<th>Module Name</th>
				<th>Order</th>
				<th>Index</th>
				<th>Order</th>
				<th>Index</th>
			</tr>
		</thead>
		<tbody>
			<TMPL_LOOP modules>
			<tr>
				<td><TMPL_VAR s_name></td>
				<td><TMPL_VAR s_s_ord></td>
				<td><TMPL_VAR s_s_sim></td>
				<td><TMPL_VAR s_r_ord></td>
				<td><TMPL_VAR s_r_rec></td>
				<td><TMPL_VAR r_name></td>
				<td><TMPL_VAR r_s_ord></td>
				<td><TMPL_VAR r_s_sim></td>
				<td><TMPL_VAR r_r_ord></td>
				<td><TMPL_VAR r_r_rec></td>
			</tr>
			</TMPL_LOOP>
		</tbody>
	</table>
	<H2>Methodology</H2>
	<P>Data is gathered on given date from Ecosystem projects file (used by panda). A module simply <I>cites</I> another
	if it lists it in the <B>"depends"</B> list. A module recursively <I>cites</I> another if a cited 
	module in turn cites another module.</P>
	<TMPL_IF ErrorsExist>
	<H2>Errors</H2>
	<P>The <B>depends</B> list of a <I>topline</I> ecosystem module sometimes contains a module name that is
	not itself a topline ecosystem module, but may be in a sub-directory of another module that is normally included.
	It is possible that such a reference could
	cause an installation failure if the module cannot be directly found. 
	<P>Test module is explicitly excluded from this list.
	<P>These cited non-topline modules are:
	
	<table>
		<thead>
			<tr><th>Module Name</th><th>Cited by</th></tr>
		</thead>
		<tbody>
			<TMPL_LOOP ErrorLoop>
			<tr><td><TMPL_VAR ModName></td><td><TMPL_VAR CitedBy></td></tr>
			</TMPL_LOOP>
		</tbody>
	</table>
	</TMPL_IF>
</body>
</html>
